<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
             <!--Kubernetes pattern-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %C:%L [%t] - %m%n" />
        </Console>
        <RollingFile
                name="rollingFile"
                fileName="${LOG_DIR}/application.log"
                filePattern="${LOG_DIR}/application.%i.log.gz"
                ignoreExceptions="false">
            <!--Kubernetes pattern-->
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %level %C:%L [%t] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="100">
                <Delete basePath="${LOG_DIR}" maxDepth="2">
                    <IfFileName glob="*/app-*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>

        <Logger name="org.apache.http" level="INFO"/>
        <Logger name="eu.europeana.postpublication" level="DEBUG"/>
        <Logger name="eu.europeana.postpublication.translation" level="INFO"/>
        <!--Suppress unhelpful Spring Batch warnings.
        See https://stackoverflow.com/questions/23780587/spring-batch-reader-in-multi-threader-job -->
        <Logger name="org.springframework.batch.core.step" level="ERROR"/>
    </Loggers>
</Configuration>